<div class="contact-container">
  <div class="background-section"></div>
  <div class="content-wrapper">
    <div class="contact-info">
      <h2>Contact Recepție</h2>
      <p>0741.999.999</p>
    </div>
    <div class="info-utile">
      <h2>Informații utile</h2>
      <ul>
        <li>Toate clasele necesită rezervare în prealabil.</li>
        <li>Vă rugăm să contactați recepția sălii cu maxim 24h înainte de ora clasei la care doriți să participați.</li>
      </ul>
    </div>
    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.9694348379797!2d26.0574957!3d44.4338196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b201db0e7fc333%3A0xe151c4506f229f7b!2sFacultatea%20de%20Electronic%C4%83%2C%20Telecomunica%C8%9Bii%20%C8%99i%20Tehnologia%20Informa%C8%9Biei!5e0!3m2!1sen!2sro!4v1688136352650!5m2!1sen!2sro"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <button class="facebook-button" (click)="redirectToProgram()">Pagina noastră de Facebook</button>
  </div>
</div>
