.form-label-lg {
  font-size: 1.2em;
}

.form-check-input {
  margin-left: 0.25rem;
}

.form-check-label {
  margin-left: 1.5rem;
}

.container.bg-container {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}

.row {
  margin-bottom: 5rem;
}
